html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    overflow: hidden;
}
canvas {
    display: block;
}
body {
    margin: 0;
}



#unity-container {
    width:100%;
    height: 100%;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    background: #231F20;
}
#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#unity-logo {
    text-align: center;
}
#unity-logo img {
    max-width: 80%;
}
#unity-progress-bar-empty {
    width: 80%;
    height: 24px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}
#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}
.light #unity-progress-bar-empty {
    border-color: black;
}
.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.spinner {
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spinner-spin 1.1s infinite linear;
}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.game {
    position: absolute;
    left: 300px;
    top: 0;
    width:calc(100% - 300px);
    height: 100%;
}


.j3nni32kj234kjad_300x250{
    position: absolute;
    width: 300px;
    height: 270px;
}

.j3nni32kj234kjad_300x250 .ad_300x250 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
    background-color: #a3a3a33d;
}

.j3nni32kj234kjad_300x250 .text {
    position: absolute;
    font-size: 10px;
    left: 50%;
    top: 255px;
    transform: translateX(-50%);
    transform-origin: center right;
}

.j3nni32kj234kjad_300x600{
    position: absolute;
    top: 270px;
    width: 300px;
    height: 620px;
}

.j3nni32kj234kjad_300x600 .ad_300x600 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 600px;
    background-color: #a3a3a33d;
}
.j3nni32kj234kjad_300x600 .ad_300x250 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
    background-color: #a3a3a33d;
}

.j3nni32kj234kjad_300x600 .text {
    position: absolute;
    font-size: 10px;
    left: 50%;
    top: 605px;
    transform: translateX(-50%);
    transform-origin: center right;
}
@media screen and (max-height: 879.9px) {
    .j3nni32kj234kjad_300x600 .ad_300x600{
        display: none
    }
    .j3nni32kj234kjad_300x600 .ad_300x250{
        display: block
    }
}
@media screen and (min-height: 880px) {
    .j3nni32kj234kjad_300x600 .ad_300x600{
        display: block
    }

    .j3nni32kj234kjad_300x600 .ad_300x250{
        display: none
    }
}
@media screen and (max-height: 520px) {
    .j3nni32kj234kjad_300x600 .ad_300x250{
        display: none
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
  .kjasdfjklahsfd {
    display: none;
  }

  @media screen and (orientation: portrait) and (max-width: 500px) {
    .j3nni32kj234kjad_300x250{
        display: none;
    }
    .j3nni32kj234kj{
        display: none;
    }
    .game {
      width: 100vw;
      height: calc(100dvh - 66px);
      position: absolute;
      top: 66px;
      left: 0;
    }
    #unity-fullscreen-button {
      display: none;
    }
    .kjasdfjklahsfd {
      position: absolute;
      top: 0;
      height: 66px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .qlwkencviowqef {
      position: absolute;
      top: 0;
      height: 66px;
      width: 320px;
      display: flex;
      justify-content: center; 
    }
    .qlwkencviowqef .ad_320x50 {
        position: absolute;
        top: 16px;
        width: 320px;
        height: 50px;
        background-color: #a3a3a33d;
    }
    .qlwkencviowqef .text {
      position: absolute;
      font-size: 9px;
      left: 50%;

      top: 3px;
      transform: translateX(-50%);
      transform-origin: center right;

    }
  }